*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
/* ====================================== Logo ,cart and profile code start here ======================================= */
.main{
    width:100%;

    margin: auto;
}

.icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icon>div{
    width:100%;
    height: 100px;
   
    margin: auto;
    display: flex; 
}

.profile>div{
    width:40%;
    margin: auto;
}
.logo>img{
    width:90%;
    height:100%;
    margin: auto;
}
.cart{
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    
}
.cart>div{
    width:60%;
    margin: auto;
    
}
.cart>div:nth-child(1){
    width: 100%;
    background-color:#ebedf3;
    margin-left: 10%;
}
.search{
    width:100%;
    border: 1px solid black;
    margin: auto;
    padding-left: 10px;
    height: 40px;
    margin: 20%;
}
.search-text{
    width: 150%;
    height:38px;
    border: none;
    background-color:#ebedf3;
}
.search{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
/* ============================================== Navbar code start here ======================================================= */
.navbar{
    width:100%;
    margin:auto;
    padding: 10px;
    background-color:#ebedf3;
   
}
.navbar-list{
    width: 50%;
    margin:auto;
    height: 100%;
    display: flex;
    margin: auto;
    list-style: none;
}
.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    width: 100%;
    padding:0px 10px 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    border-right: 2px solid black;
    height: 30px;
    font-weight: 7px;
    color:#876da1;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
}
.navbar-link:hover,
.navbar-link:active{
    color:black;
    font-size: 1.3rem;
    background-color: white;
}
/* ==================================================== Banner Section code start here ================================================= */
.banner {
    position: relative;
    height: 100vh;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .banner p {
    font-size: 2.0rem;
    margin-bottom: 2rem;
    max-width: 600px;
    color:#fecf00;

    text-align: center;
  }
  
  .banner .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .banner .button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
  }
  
  .banner .button-primary {
    background-color: #fff;
    color: #333;
  }
  
  .banner .button-secondary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.3s ease;
  }
  
  .banner .button-secondary:hover {
    background-color: #fff;
    color: #333;
  }

  .slider {
    position: relative;
    width: 100%;
    padding: 30px;
   
    overflow: hidden;
  }
  .slider-wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
  }
  .slider-item {
    position: relative;
    flex: 0 0 calc(100% / 3); /* adjust this value to change the number of images displayed */
    text-align: center;
  }
  .slider-item img {
    max-width:90%;
    height:100%;
  }
  .slider-caption {
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    z-index: 1;
  }

  .slider-caption p{
    color:#fecf00
  }
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
  }
  .prev-btn {
    left: 0;
  }
  .next-btn {
    right: 0;
  }
  .hero-banner {
    background-image: url('https://www.charlestyrwhitt.com/on/demandware.static/-/Library-Sites-CTShirtsSharedLibrary/default/dw73d084aa/merchAssets/SS23/Homepage/hp/henley-hp2-desktop.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
  }
  
  .banner-content {
    margin:5%;
    color: #fff;
  }
  .banner-content h1{
    color:#ceb45c ;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
      /* ================================================================================================================================
footer grid code css here
  ================================================================================================================================== */
  .grid-footer{
    width:95%;
    margin:auto;
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    padding-bottom:10px;
  }
  .grid-content>div:nth-child(2){
    width:70%;
    text-align: center;
    margin:auto;
  }
   .grid-content>div:nth-child(2)>button{
    border:1px solid black;
    background-color:transparent;
    width:70%;
   }
   .grid-content>div:nth-child(2)>button{
      transition-duration: 0.4s;
   
   }
      .grid-content>div:nth-child(2)>button:hover {
      background-color: white; /* Green */
      color: black;
    }
    /* ================================================================================================================================
footer second last  banner code css here
  ================================================================================================================================== */
  .banner-container {
    width: 100%;
    height: 600px;
    margin-top:20px;
    background-image: url('https://www.charlestyrwhitt.com/on/demandware.static/-/Library-Sites-CTShirtsSharedLibrary/default/dw5f179d60/merchAssets/AW22/Homepage/wide-banner/custom-hp2-desktop01.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns:repeat(2,1frac);
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* Set text container with white color */
  .banner-text {
    width:50%;
    color: white;
    text-align: center;
    font-size: 2rem;
    left:-30%;
    position: relative;
    
  }

  /* Set button container */

  /* Style buttons */
  .banner-buttons button {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .banner-buttons button:hover {
    background-color: black;
    color: white;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .hero-banner {
      height: 330px;
      
    }
  
    h1 {
      font-size: 25px;
    }
  
    p {
      font-size: 16px;
    }
        /* ========================================== Grid footer responsive code ================================================= */
    .grid-footer{
      width:95%;
      margin:auto;
      margin-top:20px;
      display:grid;
      grid-template-columns: repeat(1,1fr);
      gap:20px;
      border:1px solid black;
    }
    .banner-text {
      width:50%;
      color: white;
      text-align: center;
      font-size: 2rem;
      left:-10%;
      position: relative;
      
    }
  
  
  /* Media query for even smaller screens */

/* =================================================== media query for footer second last banner ======================================== */
.banner-container{
width: 100%;
height: 600px;
margin-top:20px;
background-image: url('https://www.charlestyrwhitt.com/on/demandware.static/-/Library-Sites-CTShirtsSharedLibrary/default/dw5f179d60/merchAssets/AW22/Homepage/wide-banner/custom-hp2-desktop01.jpg');
background-size: cover;
background-position: center;
display: grid;
grid-template-columns:repeat(1,1frac);
align-items: center;
justify-content: center;
position: relative;
}
.banner-text {
  width:50%;
  color: white;
  text-align: center;
  font-size: 2rem;
  position: relative;
  margin-left:50px;
}




  
  @media screen and (max-width: 480px) {
    .hero-banner {
      height: 240px;
      
    }
  
    h1 {
      font-size: 15px;
    }
  
    p {
      font-size: 10px;
    }
    /* ========================================== Grid footer responsive code ================================================= */
    .grid-footer{
      width:95%;
      margin:auto;
      margin-top:20px;
      display:grid;
      grid-template-columns: repeat(1,1fr);
      gap:20px;
      border:1px solid black;
    }
  }
}
/* =================================================== media query for footer second last banner ======================================== */
.banner-container{
  width: 100%;
  height: 600px;
  margin-top:20px;
  background-image: url('https://www.charlestyrwhitt.com/on/demandware.static/-/Library-Sites-CTShirtsSharedLibrary/default/dw5f179d60/merchAssets/AW22/Homepage/wide-banner/custom-hp2-desktop01.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns:repeat(1,1frac);
  align-items: center;
  justify-content: center;
  position: relative;
  }
  .banner-text {
    width:50%;
    color: white;
    text-align: center;
    font-size: 2rem;
    position: relative;
    margin-left:30%;
  }
  .banner-buttons{
    margin-left:15%;
    
  }
  
    /* ================================================================================================================================
  Slider code css here
  ================================================================================================================================== */
  @media screen and (max-width: 700px) {
    .banner{
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
    
    .slider{
      width:100%;

      margin: auto;
      margin: 10px;
      margin-top: 20px;
  
    }
    .slider-caption {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 1px 1px 1px #000;
      z-index: 1;
    }
    .slider-caption h3{
      font-size: 15px;
    }
    .slider-caption p{
      font-size: 15px;
    }
    .slider-wrapper{
      display: grid;
      gap:10px;
      grid-template-columns: repeat(2,1fr);
    }
   
    .prev-btn,.next-btn{
      display:none;
    }
  }
/* ==================================================== Mobile Navbar ================================================= */

  

    /* ================================================================================================================================
footer grid responsive code css here
  ================================================================================================================================== */
  /* Responsive styles for different screen sizes */
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1025px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /* Responsive styles for images */
  img {
    max-width: 100%;
    height: auto;
  }

  /* ======================================================= footer code start here ================================================================ */
  /* Footer Container */
.footer-container {
  padding:30px;
  width:70%;
  margin:auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  color:black;
  font-size: 14px;
}

/* Footer Sections */
.footer-section {
  flex-basis: 25%;
  margin:0px;

}

/* Footer Section Headings */
.footer-section h4 {
  margin: 0 0 10px;
  font-size: 18px;
}

/* Footer Links */
.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;

}

.footer-section ul li a {

  text-decoration: none;
}

/* Footer Dropdown */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-section {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  
  .footer-section h4 {
    margin-top: 30px;
  }
  
  .footer-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .footer-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333;
    min-width: 160px;
    text-align: left;
    padding: 10px;
    margin-top: 5px;
  }
  
  .footer-dropdown:hover .footer-dropdown-content {
    display: block;
  }
  
  .footer-dropdown-content a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
  }
}

/* ================================================= navbar code here ============================================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    line-height: 1.4;
}
.main-wrapper img{
    width: 100%;
    display: block;
    background-color:#ebedf3;

    
}
.main-wrapper a{
    color: #000;
    
    text-decoration: none;
}
.main-wrapper ul li{
    list-style-type: none;
}
.navbar{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#ebedf3;
   
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.brand-and-icon{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}
.navbar-brand{
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.navbar-toggler{
    display: block;
    border: none;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    transition: all 0.4s ease;
    border: 2px solid #000;
    border-radius: 4px;
}
.navbar-toggler:hover{
    opacity: 0.7;
}

.navbar-collapse{
    overflow-y: scroll;
    display: none;
}
.navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    padding: 0.6rem 0;
    margin: 0.2rem 0;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
}
.drop-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
    opacity: 0.7;
}
.sub-menu h4{
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem 0;
}
.sub-menu ul li{
    text-transform: capitalize;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    font-size: 0.95rem;
}
.sub-menu ul li a{
    opacity: 0.8;
    transition: all 0.5s ease;
}
.sub-menu ul li a:hover{
    padding-left: 14px;
    opacity: 0.9;
}
.sub-menu{
    display: none;
}

.sub-menu-item{
    padding-left: 1.2rem;
}
.sub-menu-item:nth-child(3){
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sub-menu-item:nth-child(3) h2{
    text-transform: capitalize;
    margin: 1.5rem 0;
}
.sub-menu-item:nth-child(3) .btn{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
}
.sub-menu-item:nth-child(3) .btn:hover{
    background: transparent;
    color: #000;
}
.sub-menu-item:nth-child(4){
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* header */
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner-bg.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h2{
    margin: 1rem;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: 2px;
}
.header p{
    margin: 1rem auto;
    color: #fff;
    width: 60%;
    opacity: 0.8;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
}
.header button{
    margin: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.header button:hover{
    background: #fff;
    color: #000;
}


/* Media Queries */
@media screen and (min-width: 992px){
    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 5rem;
        position: relative;
    }
    .navbar-brand{
      display:none;
    }
    .navbar-toggler{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }
    .navbar-collapse{
        display: block!important;
        overflow-y: hidden;
        flex: 1 0 auto;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav > li > a{
        border-bottom: none;
        margin: 0 0.4rem;
        padding: 1.7rem 1.8rem 1.7rem 0.8rem;
        font-size: 0.8rem;
    }
    .sub-menu{
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }
    .navbar-nav > li:hover .sub-menu{
        display: grid!important;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
    }
    .navbar-nav > li{
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s ease;
    }
    .navbar-nav > li:hover{
        border-bottom-color: #000;
    }
    .sub-menu-item{
        padding-left: 0;
    }
    .sub-menu-item:nth-child(3){
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /* header */
    .header{
        height: calc(100vh - 75px);
    }
    .header h2{
        font-size: 6rem;
    }
    .header p{
        width: 40%;
    }
}